.bouton {
    color: black;
    border: 1px solid black;
    background-color: gray;
    border-radius: 10PX;
}

html {
    background-color: black;
    background-image: url(https://i.ibb.co/q95X9TN/IMG-5345.jpg);
    background-size: 100%;
    background-position-y: 30%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}

h1, h3 {
    text-align: center;
    color:white
}

h2 {
    text-align: center;
    color: gray;
}