.bouton {
    color: black;
    border: 1px solid black;
    background-color: gray;
    border-radius: 10PX;
}

html {
    background-color: black;
    background-image: url(https://cdn.discordapp.com/attachments/854120004940857344/998555282789642350/55BEC511-A3F6-4900-871F-E729CC8A5E7C.jpg);
    background-size: 100%;
    background-position-Y: 40%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}

h1, h2 {
    text-align: center;
    color: gray;
}

h3 {
    text-align: center;
    color: white;
}

a {
    text-align: center;
}