html {
    background-color: black;
    background-image: url(https://i.ibb.co/GP7161r/standard-1.gif);
    background-size: 100%;
    background-position-x: 100%;
    background-position-Y: 90%;
}


*{
    margin: -4px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0;
    background-color: gray;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 640PX;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: red;
    border-bottom: 2px solid red;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: gray;
    position: absolute;
    width: 97%;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}


.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

h1 {
    color: white;
    text-align: center;
}

p {
    text-align: center;
}