.bouton {
    color: black;
    border: 1px solid black;
    background-color: gray;
    border-radius: 10PX;
}


html {
    background-color: black;
    background-image: url(https://cdn.discordapp.com/attachments/854120004940857344/998556159269150720/239FADFB-FBFF-49D9-B2CD-93224B5FC9A3.jpg);
    background-size: 100%;
    background-position-Y: 50%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}

h1, h2 {
    text-align: center;
    color: gray;
}

h3 {
    text-align: center;
    color: rgb(255, 255, 255);
}