.bouton {
    color: black;
    border: 1px solid black;
    background-color: gray;
    border-radius: 10PX;
}

html {
    background-color: black;
    background-image: url(https://cdn.discordapp.com/attachments/854120004940857344/998556483337867405/55398DC4-5AF2-4A99-A40E-1C210483ACB1.jpg);
    background-size: 100%;
    background-position-y: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}

h1, h3 {
    text-align: center;
    color:white
}

h2 {
    text-align: center;
    color: gray;
}